.warningMessageFromTheCreator

#############################################################

//This css file has been automaticly generated

//If you make any changes to this file make sure to save them somewhere else

#############################################################

{}

.tile{
position:absolute;
background-size:20 20;
}
.door,.vendingmachine{
background-size:40px 20px;
}
.floorTile,.pillar{
background-size:20px 20px;
}
.vendingmachine2{
background-size:20px 40px;
}
.floorN,.floorS,.floorE,.floorW,.floorNW,.floorNE,.floorSW,.floorSE,.floorFill,.floorTile{
background:url("tileset1/floor/floorFill.png");
}
.musicN,.musicS,.musicE,.musicW,.musicNW,.musicNE,.musicSW,.musicSE,.musicFill{
background:url("tileset1/music/musicFill.png");
}
.nonmusicN,.nonmusicS,.nonmusicE,.nonmusicW,.nonmusicNW,.nonmusicNE,.nonmusicSW,.nonmusicSE,.nonmusicFill{
background:url("tileset1/nonmusic/nonmusicFill.png");
}
.consoleN,.consoleS,.consoleE,.consoleW,.consoleNW,.consoleNE,.consoleSW,.consoleSE,.consoleFill{
background:url("tileset1/console/consoleFill.png");
}
.movieN,.movieS,.movieE,.movieW,.movieNW,.movieNE,.movieSW,.movieSE,.movieFill{
background:url("tileset1/movie/movieFill.png");
}
.kitchenN,.kitchenS,.kitchenE,.kitchenW,.kitchenNW,.kitchenNE,.kitchenSW,.kitchenSE,.kitchenFill{
background:url("tileset1/kitchen/kitchenFill.png");
}
.wallN{
background:url("tileset1/wall/wallN.png");
}
.wallS{
background:url("tileset1/wall/wallS.png");
}
.wallE{
background:url("tileset1/wall/wallE.png");
}
.wallW{
background:url("tileset1/wall/wallW.png");
}
.wallNW{
background:url("tileset1/wall/wallNW.png");
}
.wallNE{
background:url("tileset1/wall/wallNE.png");
}
.wallSW{
background:url("tileset1/wall/wallSW.png");
}
.wallSE{
background:url("tileset1/wall/wallSE.png");
}
.door{
background:url("tileset1/objects/doorH.png");
}
.pillar{
background:url("tileset1/objects/floor-pillar.png");
}
.vendingmachine,.vendingmachine2{
background:url("tileset1/objects/vendingmachine.png");
}
.seat{
background:url("tileset1/seats/seat.png");
}
.seat-taken{
background:url("tileset1/seats/seat-taken.png");
}
.seat-selected{
background:url("tileset1/seats/seat-selected.png");
}
.seat-mouseover{
background:url("tileset1/seats/seat-mouseover.png");
}
.door,.floorTile,.pillar,.vendingmachine,.vendingmachine2,.seat,.seat-taken,.seat-selected,.seat-mouseover,#pillar7{
z-index:7;
}
#floorN0,#floorS0,#floorW0,#floorE0,#floorNE0,#floorNW0,#floorSE0,#floorSW0,#gulv0{
z-index:0;
}
#nonmusicN1,#nonmusicS1,#nonmusicW1,#nonmusicE1,#nonmusicNE1,#nonmusicNW1,#nonmusicSE1,#nonmusicSW1,#ikke-musik1{
z-index:1;
}
#musicN2,#musicS2,#musicW2,#musicE2,#musicNE2,#musicNW2,#musicSE2,#musicSW2,#musik2{
z-index:2;
}
#movieN3,#movieS3,#movieW3,#movieE3,#movieNE3,#movieNW3,#movieSE3,#movieSW3,#film3{
z-index:3;
}
#consoleN4,#consoleS4,#consoleW4,#consoleE4,#consoleNE4,#consoleNW4,#consoleSE4,#consoleSW4,#konsol4{
z-index:4;
}
#kitchenN5,#kitchenS5,#kitchenW5,#kitchenE5,#kitchenNE5,#kitchenNW5,#kitchenSE5,#kitchenSW5,#køkken5{
z-index:5;
}
#seat1,#seat2,#seat3,#seat4,#seat5,#seat6,#seat7,#seat8,#seat9,#seat10,#seat11,#seat12,#seat13,#seat14,#seat15,#seat16,#seat17,#seat18,#seat19,#seat20,#seat21,#seat22,#seat23,#seat24,#seat25,#seat26,#seat27,#seat28,#seat29,#seat30,#seat31,#seat32,#seat33,#seat34,#seat35,#seat36,#seat37,#seat38,#seat39,#seat40,#seat41,#seat42,#seat43,#seat44,#seat45,#seat46,#seat47,#seat48,#seat49,#seat50,#seat51,#seat52,#seat53,#seat54,#seat55,#seat56,#seat57,#seat58,#seat59,#seat60,#seat61,#seat62,#seat63,#seat64,#seat65,#seat66,#seat67,#seat68,#seat69,#seat70,#seat71,#seat72,#seat73,#seat74,#seat75,#seat76,#seat77,#seat78,#seat79,#seat80,#pillar6{
z-index:6;
}
#pillar8{
z-index:8;
}
#pillar9{
z-index:9;
}
#pillar10{
z-index:10;
}
#pillar11{
z-index:11;
}
#vendingmachine12{
z-index:12;
}
#vendingmachine13{
z-index:13;
}
#vendingmachine14{
z-index:14;
}
#vendingmachine15{
z-index:15;
}
#vendingmachine216{
z-index:16;
}
#vendingmachine217{
z-index:17;
top:540;
}
#wallN18,#wallS18,#wallW18,#wallE18,#wallNE18,#wallNW18,#wallSE18,#wallSW18{
z-index:18;
}
#wallN19,#wallS19,#wallW19,#wallE19,#wallNE19,#wallNW19,#wallSE19,#wallSW19{
z-index:19;
}
#door20{
z-index:20;
}
#door21{
z-index:21;
}
#floorTile22{
z-index:22;
top:460;
}
#floorTile23{
z-index:23;
top:220;
}
#floorN0,#floorS0,#gulv0,#nonmusicW1,#nonmusicNW1,#nonmusicSW1,#musicW2,#musicNW2,#musicSW2,#seat1,#seat6,#seat11,#seat17,#seat23,#seat29,#seat34,#seat40,#seat46,#seat51,#seat57,#seat63,#seat69,#seat75,#wallN18,#wallS18,#door20{
left:20;
}
#floorW0,#floorNW0,#floorSW0,#wallW18,#wallNW18,#wallSW18{
left:0;
}
#floorE0,#floorNE0,#floorSE0,#wallE18,#wallNE18,#wallSE18,#wallE19,#wallNE19,#wallSE19{
left:300;
}
#nonmusicN1,#nonmusicS1,#ikke-musik1,#musicN2,#musicS2,#musik2,#seat2,#seat7,#seat12,#seat18,#seat24,#seat30,#seat35,#seat41,#seat47,#seat52,#seat58,#seat64,#seat70,#seat76,#door21{
left:40;
}
#nonmusicE1,#nonmusicNE1,#nonmusicSE1,#musicE2,#musicNE2,#musicSE2,#vendingmachine216,#vendingmachine217{
left:180;
}
#movieN3,#movieS3,#film3,#consoleN4,#consoleS4,#konsol4,#kitchenN5,#kitchenS5,#køkken5,#wallN19,#wallS19{
left:220;
}
#movieW3,#movieNW3,#movieSW3,#consoleW4,#consoleNW4,#consoleSW4,#kitchenW5,#kitchenNW5,#kitchenSW5,#vendingmachine12,#vendingmachine14,#wallW19,#wallNW19,#wallSW19,#floorTile22,#floorTile23{
left:200;
}
#movieE3,#movieNE3,#movieSE3,#consoleE4,#consoleNE4,#consoleSE4,#kitchenE5,#kitchenNE5,#kitchenSE5{
left:280;
}
#seat3,#seat8,#seat13,#seat19,#seat25,#seat31,#seat36,#seat42,#seat48,#seat53,#seat59,#seat65,#seat71,#seat77,#pillar6{
left:60;
}
#seat4,#seat9,#seat14,#seat20,#seat26,#seat32,#seat37,#seat43,#seat49,#seat54,#seat60,#seat66,#seat72,#seat78{
left:80;
}
#seat5,#seat10,#seat15,#seat21,#seat27,#seat33,#seat38,#seat44,#seat50,#seat55,#seat61,#seat67,#seat73,#seat79{
left:100;
}
#seat16,#seat22,#seat28,#seat39,#seat45,#seat56,#seat62,#seat68,#seat74,#seat80,#pillar7,#pillar8,#pillar9,#pillar10,#pillar11{
left:120;
}
#vendingmachine13,#vendingmachine15{
left:240;
}
#floorN0,#floorNE0,#floorNW0,#wallN18,#wallNE18,#wallNW18,#door20{
top:0;
}
#floorS0,#floorSE0,#floorSW0,#wallS18,#wallSE18,#wallSW18,#door21{
top:700;
}
#floorW0,#floorE0,#gulv0,#nonmusicN1,#nonmusicNE1,#nonmusicNW1,#movieN3,#movieNE3,#movieNW3,#pillar6,#pillar7,#wallW18,#wallE18{
top:20;
}
#nonmusicS1,#nonmusicSE1,#nonmusicSW1,#seat34,#seat35,#seat36,#seat37,#seat38,#seat39{
top:340;
}
#nonmusicW1,#nonmusicE1,#ikke-musik1,#movieW3,#movieE3,#film3{
top:40;
}
#musicN2,#musicNE2,#musicNW2,#seat40,#seat41,#seat42,#seat43,#seat44,#seat45{
top:360;
}
#musicS2,#musicSE2,#musicSW2,#consoleS4,#consoleSE4,#consoleSW4,#vendingmachine14,#vendingmachine15{
top:680;
}
#musicW2,#musicE2,#musik2{
top:380;
}
#movieS3,#movieSE3,#movieSW3,#kitchenN5,#kitchenNE5,#kitchenNW5,#wallN19,#wallNE19,#wallNW19{
top:120;
}
#consoleN4,#consoleNE4,#consoleNW4,#vendingmachine12,#vendingmachine13{
top:580;
}
#consoleW4,#consoleE4,#konsol4,#seat69,#seat70,#seat71,#seat72,#seat73,#seat74{
top:600;
}
#kitchenS5,#kitchenSE5,#kitchenSW5,#pillar11,#wallS19,#wallSE19,#wallSW19{
top:560;
}
#kitchenW5,#kitchenE5,#køkken5,#pillar8,#wallW19,#wallE19{
top:140;
}
#seat1,#seat2,#seat3,#seat4,#seat5{
top:80;
}
#seat6,#seat7,#seat8,#seat9,#seat10{
top:100;
}
#seat11,#seat12,#seat13,#seat14,#seat15,#seat16{
top:180;
}
#seat17,#seat18,#seat19,#seat20,#seat21,#seat22{
top:200;
}
#seat23,#seat24,#seat25,#seat26,#seat27,#seat28{
top:260;
}
#seat29,#seat30,#seat31,#seat32,#seat33,#pillar9{
top:280;
}
#seat46,#seat47,#seat48,#seat49,#seat50,#pillar10{
top:420;
}
#seat51,#seat52,#seat53,#seat54,#seat55,#seat56{
top:440;
}
#seat57,#seat58,#seat59,#seat60,#seat61,#seat62,#vendingmachine216{
top:500;
}
#seat63,#seat64,#seat65,#seat66,#seat67,#seat68{
top:520;
}
#seat75,#seat76,#seat77,#seat78,#seat79,#seat80{
top:620;
}
#floorN0,#floorS0,#gulv0,#wallN18,#wallS18{
width:280;
}
#floorW0,#floorE0,#floorNE0,#floorNW0,#floorSE0,#floorSW0,#nonmusicW1,#nonmusicE1,#nonmusicNE1,#nonmusicNW1,#nonmusicSE1,#nonmusicSW1,#musicW2,#musicE2,#musicNE2,#musicNW2,#musicSE2,#musicSW2,#movieW3,#movieE3,#movieNE3,#movieNW3,#movieSE3,#movieSW3,#consoleW4,#consoleE4,#consoleNE4,#consoleNW4,#consoleSE4,#consoleSW4,#kitchenW5,#kitchenE5,#kitchenNE5,#kitchenNW5,#kitchenSE5,#kitchenSW5,#seat1,#seat2,#seat3,#seat4,#seat5,#seat6,#seat7,#seat8,#seat9,#seat10,#seat11,#seat12,#seat13,#seat14,#seat15,#seat16,#seat17,#seat18,#seat19,#seat20,#seat21,#seat22,#seat23,#seat24,#seat25,#seat26,#seat27,#seat28,#seat29,#seat30,#seat31,#seat32,#seat33,#seat34,#seat35,#seat36,#seat37,#seat38,#seat39,#seat40,#seat41,#seat42,#seat43,#seat44,#seat45,#seat46,#seat47,#seat48,#seat49,#seat50,#seat51,#seat52,#seat53,#seat54,#seat55,#seat56,#seat57,#seat58,#seat59,#seat60,#seat61,#seat62,#seat63,#seat64,#seat65,#seat66,#seat67,#seat68,#seat69,#seat70,#seat71,#seat72,#seat73,#seat74,#seat75,#seat76,#seat77,#seat78,#seat79,#seat80,#pillar6,#pillar7,#pillar8,#pillar9,#pillar10,#pillar11,#vendingmachine216,#vendingmachine217,#wallW18,#wallE18,#wallNE18,#wallNW18,#wallSE18,#wallSW18,#wallW19,#wallE19,#wallNE19,#wallNW19,#wallSE19,#wallSW19,#floorTile22,#floorTile23{
width:20;
}
#nonmusicN1,#nonmusicS1,#ikke-musik1,#musicN2,#musicS2,#musik2{
width:140;
}
#movieN3,#movieS3,#film3,#consoleN4,#consoleS4,#konsol4,#kitchenN5,#kitchenS5,#køkken5{
width:60;
}
#vendingmachine12,#vendingmachine13,#vendingmachine14,#vendingmachine15,#door20,#door21{
width:40;
}
#wallN19,#wallS19{
width:80;
}
#floorN0,#floorS0,#floorNE0,#floorNW0,#floorSE0,#floorSW0,#nonmusicN1,#nonmusicS1,#nonmusicNE1,#nonmusicNW1,#nonmusicSE1,#nonmusicSW1,#musicN2,#musicS2,#musicNE2,#musicNW2,#musicSE2,#musicSW2,#movieN3,#movieS3,#movieNE3,#movieNW3,#movieSE3,#movieSW3,#consoleN4,#consoleS4,#consoleNE4,#consoleNW4,#consoleSE4,#consoleSW4,#kitchenN5,#kitchenS5,#kitchenNE5,#kitchenNW5,#kitchenSE5,#kitchenSW5,#seat1,#seat2,#seat3,#seat4,#seat5,#seat6,#seat7,#seat8,#seat9,#seat10,#seat11,#seat12,#seat13,#seat14,#seat15,#seat16,#seat17,#seat18,#seat19,#seat20,#seat21,#seat22,#seat23,#seat24,#seat25,#seat26,#seat27,#seat28,#seat29,#seat30,#seat31,#seat32,#seat33,#seat34,#seat35,#seat36,#seat37,#seat38,#seat39,#seat40,#seat41,#seat42,#seat43,#seat44,#seat45,#seat46,#seat47,#seat48,#seat49,#seat50,#seat51,#seat52,#seat53,#seat54,#seat55,#seat56,#seat57,#seat58,#seat59,#seat60,#seat61,#seat62,#seat63,#seat64,#seat65,#seat66,#seat67,#seat68,#seat69,#seat70,#seat71,#seat72,#seat73,#seat74,#seat75,#seat76,#seat77,#seat78,#seat79,#seat80,#pillar6,#pillar7,#pillar8,#pillar9,#pillar10,#pillar11,#vendingmachine12,#vendingmachine13,#vendingmachine14,#vendingmachine15,#wallN18,#wallS18,#wallNE18,#wallNW18,#wallSE18,#wallSW18,#wallN19,#wallS19,#wallNE19,#wallNW19,#wallSE19,#wallSW19,#door20,#door21,#floorTile22,#floorTile23{
height:20;
}
#floorW0,#floorE0,#gulv0,#wallW18,#wallE18{
height:680;
}
#nonmusicW1,#nonmusicE1,#ikke-musik1,#musicW2,#musicE2,#musik2{
height:300;
}
#movieW3,#movieE3,#film3,#consoleW4,#consoleE4,#konsol4{
height:80;
}
#kitchenW5,#kitchenE5,#køkken5,#wallW19,#wallE19{
height:420;
}
#vendingmachine216,#vendingmachine217{
height:40;
}
